ullscreen]) #TabsToolbar .titlebar-buttonbox-container {
    display: none !important;
    visibility: hidden !important;
  }

#TabsToolbar {
	visibility: collapse !important;
}

toolbarspring {
  max-width: 100px !important;
}

#back-button,
#forward-button {
 	display: none !important;
}

#sidebar-header {
 	display: none;
}

#sidebar-splitter {
  display: none;
}
