/* darken tab strip background and add padding below */
#TabsToolbar {
	background-color: var(--gnome-window-background) !important;
	padding-bottom: 6px !important;
}

/* style private window tab bar */
#main-window[privatebrowsingmode] #TabsToolbar {
	background-color: #2b183a !important;
}

/* make flexible space smaller */
toolbar toolbarspring{
  -moz-box-flex: 40 !important;
  min-width: 10px !important;
  max-width: 100px !important;
}
