#browser:not(:has(#sidebar-splitter[hidden])) #tabbrowser-tabbox {
  border-top-right-radius: var(--border-radius-medium) !important;
  overflow: hidden !important;
}

#TabsToolbar {
	visibility: collapse !important;
}

#sidebar-box {
	margin-right: 5px !important;
}

#sidebar-main,
#sidebar-panel-header {
	display: none !important;
}
