#TabsToolbar {
  visibility: collapse !important;
}

#browser:not(:has(#sidebar-splitter[hidden="true"])) #tabbrowser-tabbox {
    border-top-right-radius: var(--border-radius-medium) !important;
    overflow: hidden !important;
}

#sidebar-main,
#sidebar-panel-header {
    display: none !important;
}

#sidebar-box {
    padding-right: var(--space-small) !important;
}
